*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

button:active  {
  background-color: white;
  color: black;
  outline: 1px solid black;
}



hr{
    max-width: 100%;
    color: #d0d0d3;
}

/*--- head e sezione 0 ---*/

.container-head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid black;
}

.container-left{
    display: flex;
    align-items: center;
   
}

.container-right{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
}

.col{
    padding: 10px;
}

.btn-head{
    background-color: #0061ff;
    border: none;
    font-family: inherit;
    padding: 8px 12px;
    color: white;
    
}

/*---- /head e sezione 0 --- */

/*---- sezione 1 ---- */

.hero{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #b4d0e7;
    width: 1900px;
    height: 700px;
}

.container-hero{
    max-width: 1200px;
    width: 100%;
    height: 670px;
}

.row-hero{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -10px;
    font-size: 50px
}

.container-img{
    display: flex;
}

.col-60 > .col-img{
    width: 60%;
    margin: -20px;
}

.col-40{
    width: 40%;  
    margin: 10px;
}

.container-btn{
    margin: 20px 0;
    margin-top: 10%;
}

.btn-hero{
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    font-family: inherit;

}

.annullamento{
    padding: 10px;
}

.container-freccia{
    height: 100px;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.arrow{
    max-width: 100%;
    width: 40px;
}

.img-hero{
    margin: 10px;
}

/* ---- /sezione 1 ----*/

/*---- sezione 2 ---- */

.Business{
    display: flex ;
    justify-content: center;
}

.container-business{
    margin: 10px;
    padding-top: 100px; 
    max-width: 100%;
    max-height: 100%;
    height: 3500px;
    width: 1200px;
}

.title{
   padding-bottom: 20px;

}

 .mese .anno /* ---- adava anche con input ora no, risolvere ---- */{
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 1px solid grey;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 3px;
}
  
.btn-bus{
    padding-bottom: 10px;
}

.piano{
    padding-top: 30px;
    width: 1200px;
    height: 830px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    padding-bottom: 50px;
}


/*---- professianal ---- */

#col-p{
    width: calc(100% / 3);
    margin-right: calc(65px - 33px);

}

.hr-title{
    margin-bottom: 40px;
}

.professional{
    border: 2px solid #d0d0d3;
}

.single{
    text-align: center;
}
.row-pro{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    max-height: 100%;
    height: 900px;
}

.title-pro{
    padding-bottom: 20px;
}

.btn-contenuti{
    padding-top: 20px;
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: inherit;
    margin: 20px 65px;
}

.small{
    width: 50px;
    margin-top: 32px;
    margin-bottom: 50px;
}


/*---- /professianal ---- */

/*---- advaced ---- */

.advanced{
    border: 2px solid #d0d0d3;
}


.adv{
    text-align: center;
}
.row-adv{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    max-height: 100%;
    height: 900px;
}

.title-adv{
    padding-bottom: 20px;
}

.btn-contenuti{
    padding-top: 20px;
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: inherit;
    margin: 20px 65px;
}

.small{
    width: 50px;
    margin-top: 32px;
    margin-bottom: 50px;
}
/*---- /advaced ---- */

/*---- enterprise ---- */


.enterprise{
    border: 2px solid #d0d0d3;
}


.etp{
    text-align: center;
}
.row-etp{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    max-height: 100%;
    height: 900px;
}

.title-etp{
    padding-bottom: 20px;
    
}

.btn-contenuti{
    padding-top: 20px;
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: inherit;
    margin: 20px 65px;
}

.small{
    width: 50px;
    margin-top: 32px;
    margin-bottom: 50px;
}
/*---- /enterprise ---- */

/*---- enterprise contatto ---- */

.team-enterprise{
    width: 1170px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid  #d0d0d3;
}

.team{
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px ;
}
.title-etp-box{
    padding-left: 40px;
    line-height: 2;
    width: calc(100% / 2);
    height: 250px;
}

.p{
    padding-top: 40px;
}

.contatto-ufficio-vendite{
    position: absolute;
    top: 1870px;
    right: 450px;
}
.btn-vendite{
    
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: inherit;
    width: 270px;
}
/* ---- /enterprise contatto ---- */

/* ---- box immagine ---- */

.row-img{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: contents;
}

.col-70{
    width: 690px ;
}
.col-30{
    width: 30%;
    padding-left: 30px;
}

.box-img{
    width: 1200px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    padding-top: 100px;
    margin-top: 20px;
    display: flex;
    padding-bottom: 20px;
   
}
.box.txt{
    line-height: 2;
    
}

.title-txt{
    padding-bottom: 20px ;
    padding-top: 60px;
    text-align: start;
}

.btn-txt{
    background-color: white;
    color: black;
    border-radius: 0%;
    padding: 7px;
    text-align: center;
    font-family: inherit;
    width: 190px;
    margin: 40px;
    border: 1px solid black;
    
}

/* ---- /box immagine ---- */

/*---- tabella operazioni ---- */

.title-table{
    text-align: center;
    padding-bottom:10px ;
}
.img-table{
    width: calc(100% / 3);
}

.td-body{
    font-size: 25px;
}


td{
    padding: 25px;
    font-size: medium;
    font-family: inherit;
}

/* ---- /tabella operazioni ---- */

/* ---- n-team ---- */

.container-nteam{
    width: 610px;
    height: 300px;
    margin-left: 70px;
    margin-top: 100px;
    font-family: inherit;
}

.n-team{
    padding-top: 30px;
    font-size: 30px;
}

.link-clienti{
    margin-top: 70px;
    font-size: smaller;    
}
/* ---- /n-team ---- */

/* ---- quadrati ---- */

.quadrati{
    width: 1890px;
    height: 510px;
    border: 2px solid blue;
    margin: 10px;
}

.box{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
.box-in-box{
    width: 250px;
    height: 250px;
    background-color: #d1e9cd;
}

.box-1{
    width: 225px;
    height: 225px; 
    background-color: #a2d39b; 
    margin: 10px;
}

.box-2{
    width: 250px;
    height: 250px; 
    background-color: #61082b ;
}
.box-3{
    width: 250px;
    height: 250px; 
   background-color: #0093ce ;
}
.box-4{
    width: 250px;
    height: 250px; 
    background-color: #ff1c1c ;
}

.box1_2-left{
    display: flex;
}

.box3_4-left{
    display: flex;
}

.img-box1{
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    max-width: 100%;
}

.img-box2{
    margin-top: 65px;
    margin-left: 50px;
    width: 150px;
    max-width: 100%;
}

.img-box3{
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    max-width: 100%;
}

.img-box4{
    margin-top: 80px;
    margin-left: 50px;
    width: 150px;
    max-width: 100%;
}
