*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/*--- head e sezione 0 ---*/

.container-head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid black;
}

.container-left{
    display: flex;
    align-items: center;
   
}

.container-right{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
}

.col{
    padding: 10px;
}

.btn-head{
    background-color: #0061ff;
    border: none;
    font-family: inherit;
    padding: 8px 12px;
    color: white;
    
}

/*---- /head e sezione 0 --- */

/*---- sezione 1 ---- */

.container2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #b4d0e7;
    width: 1920px;
    height: 700px;
}

.container-mid{
    width: 1200px;
    height: 650px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.title{
    font-size: 45px ;
    display: flex;
    justify-content: center;
}

.col-50{
    float: left;
}

.txt-left{
    display: flex;
    
}