*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

button:hover,
button:focus {
  color: white;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

hr{
    max-width: 100% ;
}

/*--- head e sezione 0 ---*/

.container-head{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid black;
}

.container-left{
    display: flex;
    align-items: center;
   
}

.container-right{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
}

.col{
    padding: 10px;
}

.btn-head{
    background-color: #0061ff;
    border: none;
    font-family: inherit;
    padding: 8px 12px;
    color: white;
    
}

/*---- /head e sezione 0 --- */

/*---- sezione 1 ---- */

.hero{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #b4d0e7;
    width: 1900px;
    height: 700px;
}

.container-hero{
    max-width: 1200px;
    width: 100%;
    height: 670px;
}

.row-hero{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -10px;
    font-size: 50px
}

.container-img{
    display: flex;
}

.col-60 > .col-img{
    width: 60%;
    margin: -20px;
}

.col-40{
    width: 40%;  
    margin: 10px;
}

.container-btn{
    margin: 20px 0;
    margin-top: 10%;
}

.btn-hero{
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    font-family: inherit;

}

.annullamento{
    padding: 10px;
}

.container-freccia{
    height: 100px;
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.arrow{
    max-width: 100%;
    width: 40px;
}

.img-hero{
    margin: 10px;
}

/* ---- /sezione 1 ----*/

/*---- sezione 2 ---- */

.Business{
    display: flex ;
    justify-content: center;
}

.container-business{
    margin: 10px;
    padding-top: 100px; 
    max-width: 100%;
    max-height: 100%;
    height: 2000px;
    width: 1200px;
}

.title{
   padding-bottom: 20px;

}

input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 1px solid grey;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 3px;
}
  
.btn-bus{
    padding-bottom: 10px;
}

.piano{
    padding-top: 30px;
    width: 1200px;
    height: 1000px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}


/*---- professianal ---- */

#col-p{
    width: calc(100% / 3);
    margin-right: calc(100px - 33px);

}

.professional{
    border: 2px solid black;
}

.single{
    text-align: center;
}
.row-pro{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    max-height: 100%;
    height: 900px;
}

.title-pro{
    padding-bottom: 20px;
}

.btn-contenuti{
    padding-top: 20px;
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: inherit;
    margin: 20px 65px;
}

.small{
    width: 50px;
    margin-top: 32px;
    margin-bottom: 50px;
}


/*---- /professianal ---- */

/*---- advaced ---- */

.advanced{
    border: 2px solid black;
}

#col-p{
    width: calc(100% / 3);
    margin-right: calc(100px - 33px);

}

.single{
    text-align: center;
}
.row-adv{
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    max-height: 100%;
    height: 900px;
}

.title-adv{
    padding-bottom: 20px;
}

.btn-contenuti{
    padding-top: 20px;
    background-color: #0061ff;
    border-radius: 0%;
    color: white;
    padding: 10px;
    border: none;
    text-align: center;
    font-family: inherit;
    margin: 20px 65px;
}

.small{
    width: 50px;
    margin-top: 32px;
    margin-bottom: 50px;
}
/*---- /advaced ---- */

/*---- enterprise ---- */


.enterprise{
    border: 2px solid black;
}



/*---- /enterprise ---- */